* {
  padding: 0;
  margin: 0;
}
.containerVideo {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 2%;
}

/* 왼쪽 바 */
.video-menu {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
}
.video-menu button {
  margin-top: 10%;
  background-color: #6a24fe;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 35px;
}
.video-menu input {
  margin-top: 5%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 30px;
}

/* 비디오 화면 */
.video-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination .btn1 {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #6a24fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: white;
  color: #6a24fe;
  border: 1px solid #6a24fe;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #3f16a1;
  color: white;
}

.videoCamname {
  border: 1px solid #3f16a1;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  padding: 2px 5px;
  margin-bottom: 8px;
  font-weight: bold;
}

/* 비디오 순서 변경 모달창 */
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.tableHead {
  background-color: #f1f1f1;
}

.tableTh,
.tableTd {
  padding: 8px;
}

.tableTh {
  border: 1px solid #ccc;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.tableTd {
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
}

.tableHead :first-child,
.tableContent :first-child {
  width: 30%;
}
.tableHead :last-child,
.tableContent :last-child {
  width: 70%;
}

/* 송장번호 조회 모달창 */
.modalBcd {
  width: 70%;
}
.modalBcd .modal-content {
  width: 180%;
}
.modalBcd .modal-content .modal-body {
  width: 90%;
}

.cardTable2 {
  width: 100%;
  margin: 0 auto;
}
#ulTable2 {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 110%;
}

#ulTable2 > li:first-child {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f8f9fa;
}

#ulTable2 > li:first-child > ul {
  display: flex;
  list-style-type: none;
  gap: 95px;
  padding-left: 30px;
  margin: 0;
}

#ulTable2 > li {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

#ulTable2 > li > ul {
  display: flex;
  list-style-type: none;
  gap: 90px;
  padding-left: 30px;
  margin: 0;
}

/* 이전송장조회 css */
.videoRowCon {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 20px;
}

.videoRow {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* VASS 내 테이블 */
#ulTable3 {
  margin-top: 10px;
}
#ulTable3 > div:first-child {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f8f9fa;
}
#ulTable3 > div > li {
  display: flex;
  list-style-type: none;
}

#ulTable3 > div {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
#ulTable3 > div:first-child > li:first-child {
  padding-left: 2%;
}
#ulTable3 > div:first-child > li:nth-child(2) {
  padding-left: 3%;
}
#ulTable3 > div:first-child > li:nth-child(3) {
  padding-left: 7%;
}
#ulTable3 > div:first-child > li:nth-child(4) {
  padding-left: 8%;
}
#ulTable3 > div:first-child > li:nth-child(5) {
  padding-left: 5%;
}
#ulTable3 > div:first-child > li:last-child {
  padding-left: 7%;
}

#ulTable3 > div > li:first-child {
  padding-left: 2%;
}
#ulTable3 > div > li:nth-child(2) {
  padding-left: 3%;
}
#ulTable3 > div > li:nth-child(3) {
  padding-left: 5%;
}
#ulTable3 > div > li:nth-child(4) {
  padding-left: 5%;
}
#ulTable3 > div > li:nth-child(5) {
  padding-left: 6%;
}
#ulTable3 > div > li:last-child {
  padding-left: 6%;
}

/* vass 목록 내 조회 버튼 */
#ulTable3 .vassBtn,
#ulTable2 .vassBtn {
  margin: 0 3px;
  padding: 1px 7px;
  background-color: white;
  color: #6a24fe;
  border: 1px solid #6a24fe;
  border-radius: 5px;
  cursor: pointer;
}
