* {
  padding: 0;
  margin: 0;
}
.containerVideo {
  display: grid;
  grid-template-columns: 12% 88%;
}

/* 왼쪽 바 */
.video-menu {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
}
.video-menu button {
  margin-top: 10%;
  background-color: #1d74e6;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 35px;
}
.video-menu input {
  margin-top: 5%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 30px;
  width: 118px;
  text-align: center;
}

/* 비디오 화면 */
.video-grid {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination .btn1 {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #1d74e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: white;
  color: #1d74e6;
  border: 1px solid #1d74e6;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #1a60bd;
  color: white;
}

.react-player {
  position: relative;
}
.videoCamname {
  color: white;
  background-color: #1d74e680;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;

  margin-left: 29%;
  position: absolute;
  z-index: 1;
}

/* 비디오 순서 변경 모달창 */
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.tableHead {
  background-color: #f1f1f1;
}

.tableTh,
.tableTd {
  padding: 8px;
}

.tableTh {
  border: 1px solid #ccc;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.tableTd {
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
}

.tableHead :first-child,
.tableContent :first-child {
  width: 30%;
}
.tableHead :last-child,
.tableContent :last-child {
  width: 70%;
}

/* 송장번호 조회 모달창 */
.modalBcd {
  width: 70%;
}
.modalBcd .modal-content {
  width: 180%;
}
.modalBcd .modal-content .modal-body {
  width: 90%;
}

.cardTable2 {
  width: 100%;
  margin: 0 auto;
}
#ulTable2 > div {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 110%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
#ulTable2 > div:first-child {
  background-color: #f8f9fa;
}
#ulTable2 > div:first-child > li {
  flex: 1;
}
#ulTable2 > div > li {
  list-style-type: none;
  flex: 1;
}

/* 이전송장조회 css */
.videoRowCon {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 20px;
}

.videoRow {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* VASS 내 테이블 */
#ulTable3 > div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
#ulTable3 > div:first-child {
  background-color: #f8f9fa;
}
#ulTable > div:first-child > li {
  flex: 1;
}
#ulTable3 > div > li {
  list-style-type: none;
  flex: 1;
}

/* vass 목록 내 조회 버튼 */
#ulTable3 .vassBtn,
#ulTable2 .vassBtn {
  margin: 0 3px;
  padding: 1px 7px;
  background-color: white;
  color: #1d74e6;
  border: 1px solid #1d74e6;
  border-radius: 5px;
  cursor: pointer;
}
