* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.card-header > select {
  border: 1px solid darkgray;
  width: 120px;
  height: 30px;
}
.card-header .datepicker {
  height: 30px;
  border: 1px solid darkgray;
  padding-top: 3px;
  padding-left: 5px;
}
.checkBtn,
.sendBtn {
  background-color: #1d74e6;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 35px;
}
.checkBtn:hover {
  background-color: #1a60bd;
}

#total_count {
  margin-left: 20px;
}

.cardTable {
  width: 100%;
  margin: 0 auto;
}
#ulTable > div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
#ulTable > div:first-child {
  background-color: #f8f9fa;
}
#ulTable > div:first-child > li {
  flex: 1;
}
#ulTable > div > li {
  list-style-type: none;
  flex: 1;
}

.toggleSwitch {
  width: 65px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 13px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  margin: 5px;
}

.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #1d74e6;
}

#toggle:checked ~ .toggleSwitch {
  background: #1d74e6;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 30px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}
